:root{
    --header-left-button-col:#4C67F4;
    --video-join-buttom-col:#36F599;
    --header-background:#FCFBFB;

}

header{
    position: sticky;
    top: 0;
    z-index: 200;
}

.header{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 1.5vw;
    padding-left: 3vw;
    padding-right: 1vw;
    justify-content: space-between;
    vertical-align: middle;
    background-color: var(--header-background) ;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-left{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    /* margin-right: 15vw; */
    background: none;
}


button{
    font-size: 0.8em;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
}

.heyhere{
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color:#1C2541;
    font-style: normal;
    font-weight: 700;
    background: none;
}

.header-left-button{
    vertical-align: middle;
    display: inline-block;
    background-color: var(--header-left-button-col);
    color: #ffffff;
    border-radius: 8px;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}


.header-right{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-right: 0;
    justify-content: flex-end;
    /* margin-left: 10px; */
    align-items: center;
    background: none;
}

.header-right-span{
    display: flex;
    color:#485470;
    font-family: 'DM Sans',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8vw;
    margin: auto;
    margin-right: 1vw;
    background: none;
    
}


.header-left-btn{
    display: flex;
}


.header-right-button{
    /* display: flex; */
    display: inline-block;
    /* flex-direction: row; */
    vertical-align: middle;
    background-color: var(--video-join-buttom-col);
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    color: #1c2541;
    border-radius: 12px;
    outline: none;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}


.profile-img{
    position: relative;
    display: flex;
    margin: auto;
    margin-bottom: min(20vh,15vw);
    /* top: 82px; */
    width: 100%;
    aspect-ratio: 6.48648;
    /* background-color: aquamarine; */
    background: url(../img/profile-image.jpeg);
    background-position: center;
    justify-content: center;
    z-index: -100;
}

.logo{
    position: absolute;
    top: 50%;
    vertical-align: middle;
    background: url(../img/logo.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border: white solid;
    box-shadow: 0px 5px 5px 0px #888888;
    width: 15%;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: -100;
    margin: auto;
}

.hostContainer{
    /* position: relative; */
    /* position: fixed; */
    margin: auto;
    /* margin-top: 200px; */
    /* padding-top: 140px; */
    z-index: -100;
    width: 60%;
    /* margin-top: 4em; */
    /* margin-bottom: min(5vw,10vh); */
    object-fit: cover;
    z-index: -100;
    aspect-ratio: 16/9;
    border: none;
    border-radius: 24px;
    background:none;
    align-items: center;
    justify-content: center;
}

.guestContainer{
    position: absolute;
    /* display: block; */
    bottom: 15%;
    right: 3%;
    /* z-index: 100; */
    width: 20%;
    aspect-ratio: 16/9;
    background:none;
    z-index: -100;
}

.confirm{
    display: none;
    position: absolute;
    float: left;
    padding: min(5vh,3vw);
    /* display: flex; */
    flex-direction: column;
    top: 55vh;
    left: 28vw;
    margin: auto;
    width: 40%;
    aspect-ratio: 4/3;
    z-index: 200;
    justify-content: center;
    background-color: #FCFBFB;
    box-shadow: 5px 5px 0px 0px rgba(72, 84, 112, 0.3) ;
    border-radius: 20px;
}

.confirm-cont{
    margin: auto;
}

.confirm-cont p{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    color: #1C2541;
    font-size: min(8vh,3vw);
    font-weight: bold;
}

#confirm-btn{
    color: #ffffff;
    background-color: #4C67F4;
    font-family: 'Manrope', sans-serif;
    font-size: min(12px,1.2vw);
    padding-left: min(40px,3vw);
    padding-right: min(40px,3vw);
    padding-top: min(15px,1vw);
    padding-bottom: min(15px,1vw);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}



.hostControls,.hostControls2{
    position: absolute;
    /* top:100%; */
    left: 100%;
    height: 70%;
    aspect-ratio: 3/20;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #F1F4FB;
    padding: min(1.5vw,1.5vh);
    justify-content: center;
    /* justify-content: space-aroun; */
    border-radius: 0 15px 15px 0 ;
}
.hostControls div,.hostControls2 div{
    display: flex;
    margin: auto;
    /* padding: 1em; */
    width: 90%;
    aspect-ratio: 1/1;
    background-color: #4C67F4;
    border-radius: 20px;
    cursor: pointer;
}
#remove-person,#remove-person2{
    background-color: #ff3459;
    /* margin-left: 20%; */
}
/* #coffee-break{
    margin-right: 20%;
} */

.controls div{
    cursor: pointer;
}

.queue{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom:min(5vw,10vh) ;
    width: 60%;
    margin-top: 20px;
    justify-content: center;
}

.queue-ele{
    display: flex;
    width: 40px;
    aspect-ratio: 1;
    margin-left: -7px;
    border-radius: 50%;
    /* background-color: #36F599; */
    justify-content: center;
}

.queue-ele span{
    margin: auto;
    vertical-align: middle;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}

.controls{
    display: none;
}

.announce-mssg,.queue-closed{
    /* position: absolute; */
    /* top: 0; */
    display: none;
    z-index: 200;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    aspect-ratio: 16/9;
    padding: min(32px,3vw);
    margin: auto;
    border-radius: 24px;
    background-color: #36F599;
}

.queue-closed p{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: min(32px,5vw);
}

.announce-cont{
    /* margin: auto; */
    padding: min(15px,1.5vw);
    width: 100%;
}

.announce-cont img{
    width: min(32px,3vw);
}
.announce-cont p{
    font-family: 'Manrope', sans-serif;
    color: #1C2541;
}

.camera-start{
    position: relative;
    display: none;
    z-index: 200;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    aspect-ratio: 16/9;
    padding: min(32px,3vw);
    margin: auto;
    border-radius: 24px;
    background-color: #36F599;   
}

.camera-start p{
    margin: auto;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: min(32px,5vw);
    color: #1C2541;
}

.enter-mssg{
    font-size: min(12px,1.2vw);
    font-weight: 600;
}

.mssg-info{
    font-size: min(8px,0.8vw);
    font-weight: 300;
}

#announcement,#remarks{
    padding: min(15px,1.5vw);
    outline: none;
    border: none;
    border-radius: min(4px,1vw);
    width: 80%;
}

#announce,#announce-ok,#review-next,#review-submit,#submit-feedback,#take-break{
    background-color: #4c67f4;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-size: min(12px,1.2vw);
    padding-left: min(40px,3vw);
    padding-right: min(40px,3vw);
    padding-top: min(15px,1vw);
    padding-bottom: min(15px,1vw);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

#announcement-mssg{
    /* position: absolute; */
    /* top: 90%; */
    /* bottom: 0%; */
    display: flex;
    padding: min(15px,1.5vw);
    z-index: 200;
    /* position: absolute; */
    flex-direction: row;
    justify-content: space-evenly;
    /* top: min(65vh,60vw); */
    background-color: #f1f4fb;
    border-radius: 20px;
    width: 50%;
    aspect-ratio: 20/3;
    margin: auto;
    margin-top: -20%;

    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: min(15px,1.5vw)

}

.candidate-review-1{
    display: none;
    z-index: 200;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    aspect-ratio: 16/9;
    padding: min(32px,3vw);
    margin: auto;
    border-radius: 24px;
    background-color: #36F599;
}

.review-question{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    /* text-align: center; */
    font-size: min(15px,1.5vw);
    color: #1c2541;
}

.review-conts{
    margin: auto;
    width: 100%;
}

.review-conts span{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    /* text-align: center; */
    font-size: min(10px,1vw);
    color: #1c2541;
}


.leaveQ{
    display: none;
    z-index: 200;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    aspect-ratio: 16/9;
    padding: min(32px,3vw);
    margin: auto;
    border-radius: 24px;
    background-color: #36F599;
    font-family: 'Manrope', sans-serif;
    font-size: min(15px,1.5vw);
}

.leaveQ-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    width: 100%;
}

.leaveQ-inner-item{
    padding: min(5px,1vw);
    padding-left:0;
}

.leaveQ-item span{
    font-weight: 700;
    display: inline;
}

.alert{
    font-weight: 700;
}

.leaveQ-inner-item button{
    display: inline-block;
    /* margin: auto; */
    margin-right:min(5px,1vw) ;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: min(7px,1vw);
    font-size: min(12px,1.2vw);
    padding-left: min(45px,5vw);
    padding-right: min(45px,5vw);
    padding-top: min(7px,1vw);
    padding-bottom: min(7px,1vw);
}



.rate {
    /* float: left; */
    height: min(15px,1.5vw);
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:min(32px,3vw);
    margin-left: 0;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:min(20px,2vw);
    color:#ffffff;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



.candidate-feedback-1{
    display: none;
    z-index: 200;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    aspect-ratio: 16/9;
    padding: min(32px,3vw);
    margin: auto;
    border-radius: 24px;
    background-color: #36F599;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-size: min(13px,1.3vw);
}

.feedback-para{
    font-weight: 700;
}

.feedback-question{
    
    font-weight:600 ;
    /* text-align: center; */
    
    color: #1c2541;
}

.feedback-conts{
    margin: auto;
    width: 100%;
}

.small{
    font-size:min(10px,1vw) ;
}

.feedback-conts span{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    /* text-align: center; */
    font-size: min(13px,1.3vw);
    color: #1c2541;
}

#feedback-textarea{
    padding: min(15px,1.5vw);
    outline: none;
    border: none;
    border-radius: min(4px,1vw);
    width: 80%;
    font-size: min(15px,1.5vw);
}

#candidate-feedback-2{
    justify-content: space-around;
}



.candidate-queue-btn{
    display: none;
    flex-direction: row;
    width: 60%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.left-btn1,.left-btn2{
    width: 30%;
    margin: auto;
}

#left-btn1,#left-btn2{
    width: 100%;
    background-color: #36f599;
    color: #000000;
    font-family: 'Manrope', sans-serif;
    font-size: min(12px,1.2vw);
    padding-left: min(45px,5vw);
    padding-right: min(45px,5vw);
    padding-top: min(15px,1vw);
    padding-bottom: min(15px,1vw);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

#right-btn{
    width: 50%;
    margin: auto;
    margin-right: 0;
    background-color: #4c67f4;
    color: #ffffff;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: min(12px,1.2vw);
    padding-left: min(45px,5vw);
    padding-right: min(45px,5vw);
    padding-top: min(15px,1vw);
    padding-bottom: min(15px,1vw);
    outline: none;
    border: none;
    border-radius: 25px;
}


.candidate-queue-btn2{
    display: none;
    flex-direction: row;
    width: 60%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.left-btn1,.left-btn2{
    width: 30%;
    margin: auto;
}

#hi-btn{
    width: 100%;
    background-color: #36f599;
    color: #000000;
    font-family: 'Manrope', sans-serif;
    font-size: min(12px,1.2vw);
    padding-left: min(45px,5vw);
    padding-right: min(45px,5vw);
    padding-top: min(15px,1vw);
    padding-bottom: min(15px,1vw);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

#hi-btn img{
    width: 25%;
    display: inline;
    margin: auto;
}

#right-btn2{
    width: 50%;
    margin: auto;
    margin-right: 0;
    background-color: #4c67f4;
    color: #ffffff;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: min(12px,1.2vw);
    padding-left: min(45px,5vw);
    padding-right: min(45px,5vw);
    padding-top: min(15px,1vw);
    padding-bottom: min(15px,1vw);
    outline: none;
    border: none;
    border-radius: 25px;
}

#right-btn2 span{
    font-weight: 500;
}

.close-room-alert{
    display: none;
    z-index: 200;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    aspect-ratio: 16/9;
    padding: min(32px,3vw);
    margin: auto;
    border-radius: 24px;
    background-color: #36F599;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-size: min(32px,3vw);
}

#close-yes,#close-no{
    cursor: pointer;
}

.close-alert-item{
    text-align: center;
}

.close-alert-item span{
    font-weight: 600;
}

#room-open{
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}


.coffee{
    display: none;
    z-index: 200;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    aspect-ratio: 16/9;
    padding: min(32px,3vw);
    margin: auto;
    border-radius: 24px;
    background-color: #36F599;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-size: min(13px,1.3vw);
}

.coffee-item{
    /* margin: auto; */
    width: 100%;
    padding-top: min(10px,1vw);
    padding-bottom: min(10px,1vw);
}

.coffee-item img{
    width: min(30px,3vw);
}

#time{
    padding-left: min(32px,5vw);
    padding-right: min(32px,5vw);
    padding-top: min(15px,1vw);
    padding-bottom: min(15px,1vw);
    border: none;
    border-radius: min(10px,1vw);
    font-size: min(15px,1.5vw);
    font-weight: 600;
}

#plus5,#minus5{
    margin: auto;
    background:none;
    border: none;
    font-size: min(45px,5vw);
    font-weight: 700;
    padding: min(15px,1.5vw);
    color: #4C67F4;
    cursor: pointer;
}

#plus5 span{
    margin: auto;
    vertical-align: middle;
}
#minus5 span{
    margin: auto;
    vertical-align: middle;
}

#coffee-2{
    font-size: min(20px,2vw);
    /* text-align: center; */
}

.coffee-item span{
    font-weight: 600;
}

#open-room{
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.break-notice{
    display: none;
    z-index: 200;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    aspect-ratio: 16/9;
    padding: min(32px,3vw);
    margin: auto;
    border-radius: 24px;
    background-color: #36F599;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-size: min(32px,3vw);
}
.break-notice-item{
    text-align: center;
}

.break-notice-item span{
    font-weight: 600;
}

/* .controls{
    position: absolute;
    top:82%;
    /* left:35.5%; */
    /* margin: auto; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* margin-left: auto; */
    /* background: none; */
    /* background:none; */
    /* width: 70%; */
    /* height: 10%; */
    /* z-index: 0; */
/* } */

/* #call{
    display: inline-block;
    background-color: #4C67F4;
    height: 100%;
    z-index: 0;
} */

footer{
    /* position: absolute; */
    top: 100vh;
    margin-top: 100px;
}

.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    background-color: #485470;
    width: 100%;
    aspect-ratio: 2.8;
    justify-content: center;
}

.faq{
    position: absolute;
    top: -15%;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    width: 58%;
    aspect-ratio: 5.576;
    background-color: #36F599;
    margin: auto;
    border-radius: 1em;
    justify-content: space-between;
    /* padding: 1.5em; */
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.faq-cont{
    margin: auto;
    /* width: 33%; */
    /* align-items: center; */
    padding: 1.5em;
    align-items: center;
}

.faq-cont p{
    margin: auto;
    text-align: left;
    font-family: 'DM Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    color: #284b54;
    /* vertical-align: middle; */
}

.faq-cont img{
    display: inline-block;
    width: 90%;
    margin: auto;
}

.faq-cont button{
    margin: auto;
    width: 100%;
    background-color: #284b54;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    border: none;
    outline: none;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-shadow: rgba(72, 84, 112, 0.3) 5px 5px 0px 0px;
}

.footer-cont-big{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-cont-big-child-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footer-cont-small{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    justify-content: flex-start;
    padding-left: 1em;
    padding-right: 1em;
}
.footer-cont-small div{
    margin: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.footer-cont-small div span{
    color: #ffffff;
}


@media only screen and (max-width: 660px){

    button{
        font-size: 0.5em;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        padding-top: 0.2vw;
        padding-bottom: 0.2vw;
        padding-left: 0.8vw;
        padding-right: 0.8vw;
    }


    .header-right-span{
        display: none;
    }

    .heyhere{
        font-size: 1em;
        margin-right: 6px;
    }
    /* .header{
        padding-left: 1vw;
    } */


    .faq{
        aspect-ratio:5;
    }

    .faq-cont p{
        margin: auto;
        text-align: left;
        font-family: 'DM Sans',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5vh;
        color: #284b54;
        /* vertical-align: middle; */
    }
    
    .faq-cont img{
        /* display: inline-block; */
        width: 90%;
        margin: auto;
    }
    
    .footer-img{
        display: none;
    }

    .faq-cont button{
        margin: auto;
        width: 100%;
        background-color: #284b54;
        color: #ffffff;
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1vh;
        border: none;
        outline: none;
        border-radius: 0.5em;
        text-align: center;
        padding: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        box-shadow: rgba(72, 84, 112, 0.3) 5px 5px 0px 0px;
    }

    .hostContainer{
        margin-top: 70px;
    }

}

@media only screen and (max-width:327px){
    .hostControls{
        width: 60%;
        padding: 0.2em;
    }
}

