:root{
    --header-left-button-col:#4C67F4;
    --video-join-buttom-col:#36F599;
    --header-background:#FCFBFB;

}

header{
    position: sticky;
    top: 0;
    z-index: 200;
}

.header{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 1.5vw;
    padding-left: 3vw;
    padding-right: 1vw;
    justify-content: space-between;
    vertical-align: middle;
    background-color: var(--header-background) ;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-left{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    /* margin-right: 15vw; */
    background: none;
}


button{
    font-size: 0.8em;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
}

.heyhere{
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color:#1C2541;
    font-style: normal;
    font-weight: 700;
    background: none;
}

.header-left-button{
    vertical-align: middle;
    display: inline-block;
    background-color: var(--header-left-button-col);
    color: #ffffff;
    border-radius: 8px;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}


.header-right{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-right: 0;
    justify-content: flex-end;
    /* margin-left: 10px; */
    align-items: center;
    background: none;
}

.header-right-span{
    display: flex;
    color:#485470;
    font-family: 'DM Sans',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8vw;
    margin: auto;
    margin-right: 1vw;
    background: none;
    
}


.header-left-btn{
    display: flex;
}


.header-right-button{
    /* display: flex; */
    display: inline-block;
    /* flex-direction: row; */
    vertical-align: middle;
    background-color: var(--video-join-buttom-col);
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    color: #1c2541;
    border-radius: 12px;
    outline: none;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}


.profile-img{
    position: relative;
    display: flex;
    margin: auto;
    margin-bottom: min(20vh,15vw);
    /* top: 82px; */
    width: 100%;
    aspect-ratio: 6.48648;
    /* background-color: aquamarine; */
    background: url(../img/profile-image.jpeg);
    background-position: center;
    justify-content: center;
    z-index: -100;
}

.logo{
    position: absolute;
    top: 50%;
    vertical-align: middle;
    background: url(../img/logo.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border: white solid;
    box-shadow: 0px 5px 5px 0px #888888;
    width: 15%;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: -100;
    margin: auto;
}

.hostContainer{
    /* position: fixed; */
    margin: auto;
    /* margin-top: 200px; */
    /* padding-top: 140px; */
    z-index: -100;
    width: 60%;
    /* margin-top: 4em; */
    /* margin-bottom: 4em; */
    object-fit: cover;
    z-index: -100;
    aspect-ratio: 16/9;
    border: none;
    border-radius: 24px;
    background:none;
    align-items: center;
    justify-content: center;
}

.guestContainer{
    position: absolute;
    /* display: block; */
    bottom: 15%;
    right: 3%;
    /* z-index: 100; */
    width: 20%;
    aspect-ratio: 16/9;
    background:none;
    z-index: -100;
}

.hostControls{
    position: absolute;
    top:100%;
    width: 70%;
    aspect-ratio: 20/1;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #1C2541;
    padding: 0.5em;
    justify-content: center;
    /* justify-content: space-aroun; */
    border-radius: 0 0 15px 15px ;
}
.hostControls div{
    display: flex;
    margin: auto;
    /* padding: 1em; */
    width: 6%;
    aspect-ratio: 1/1;
    background-color: #FAFAFB;
    border-radius: 15px;
    cursor: pointer;
}
#remove-person{
    background-color: #ff3459;
    margin-left: 20%;
}
#coffee-break{
    margin-right: 20%;
}

.controls div{
    cursor: pointer;
}

.queue{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 60%;
    margin-top: 20px;
    justify-content: center;
}

.queue-ele{
    display: flex;
    width: 40px;
    aspect-ratio: 1;
    margin-left: -7px;
    border-radius: 50%;
    /* background-color: #36F599; */
    justify-content: center;
}

.queue-ele span{
    margin: auto;
    vertical-align: middle;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}

.controls{
    display: none;
}

/* .controls{
    position: absolute;
    top:82%;
    /* left:35.5%; */
    /* margin: auto; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* margin-left: auto; */
    /* background: none; */
    /* background:none; */
    /* width: 70%; */
    /* height: 10%; */
    /* z-index: 0; */
/* } */

/* #call{
    display: inline-block;
    background-color: #4C67F4;
    height: 100%;
    z-index: 0;
} */

footer{
    /* position: absolute; */
    top: 100vh;
    margin-top: 100px;
}

.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    background-color: #485470;
    width: 100%;
    aspect-ratio: 2.8;
    justify-content: center;
}

.faq{
    position: absolute;
    top: -15%;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    width: 58%;
    aspect-ratio: 5.576;
    background-color: #36F599;
    margin: auto;
    border-radius: 1em;
    justify-content: space-between;
    /* padding: 1.5em; */
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.faq-cont{
    margin: auto;
    /* width: 33%; */
    /* align-items: center; */
    padding: 1.5em;
    align-items: center;
}

.faq-cont p{
    margin: auto;
    text-align: left;
    font-family: 'DM Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    color: #284b54;
    /* vertical-align: middle; */
}

.faq-cont img{
    display: inline-block;
    width: 90%;
    margin: auto;
}

.faq-cont button{
    margin: auto;
    width: 100%;
    background-color: #284b54;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    border: none;
    outline: none;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-shadow: rgba(72, 84, 112, 0.3) 5px 5px 0px 0px;
}

.footer-cont-big{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-cont-big-child-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footer-cont-small{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    justify-content: flex-start;
    padding-left: 1em;
    padding-right: 1em;
}
.footer-cont-small div{
    margin: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.footer-cont-small div span{
    color: #ffffff;
}


@media only screen and (max-width: 660px){

    button{
        font-size: 0.5em;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        padding-top: 0.2vw;
        padding-bottom: 0.2vw;
        padding-left: 0.8vw;
        padding-right: 0.8vw;
    }


    .header-right-span{
        display: none;
    }

    .heyhere{
        font-size: 1em;
        margin-right: 6px;
    }
    /* .header{
        padding-left: 1vw;
    } */


    .faq{
        aspect-ratio:5;
    }

    .faq-cont p{
        margin: auto;
        text-align: left;
        font-family: 'DM Sans',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5vh;
        color: #284b54;
        /* vertical-align: middle; */
    }
    
    .faq-cont img{
        /* display: inline-block; */
        width: 90%;
        margin: auto;
    }
    
    .footer-img{
        display: none;
    }

    .faq-cont button{
        margin: auto;
        width: 100%;
        background-color: #284b54;
        color: #ffffff;
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1vh;
        border: none;
        outline: none;
        border-radius: 0.5em;
        text-align: center;
        padding: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        box-shadow: rgba(72, 84, 112, 0.3) 5px 5px 0px 0px;
    }

    .hostContainer{
        margin-top: 70px;
    }

}

@media only screen and (max-width:327px){
    .hostControls{
        width: 60%;
        padding: 0.2em;
    }
}

